                                       Python Basics : Assignment 1

# 1. In the below elements which of them are values or an expression?
##### eg:- values can be integer or string and expressions will be mathematical operators. ( * , 'hello', -87.8, -, /, +, 6 )

A. ( * ) is an mathematical expression

B. ('hello') is a string value

C. (-87.8) is float value

D. ( - ) is a mathematical expression

E. ( / ) is a mathematical expression

F. ( + ) is a mathematical extression

H. ( 6 ) is a integer value

# 2. What is the difference between string and variable?

The difference between string and variable is that string is a datatype and variable are container for storing data value.

Ex. a = "Hello World", 
 a is a variable of string datatype.

In [1]:
a = "Hello! world"  
# a is a variable of string datatype
type(a)

str

# 3. Describe three different data types.

The three different data types are :

 i) String : It is a datatype which is used to store any character.String can simply assign by putting the word between single or double-quotes. The string type in Python is called str. Ex. str1 = "Python"

In [5]:
str1 = "Python"
type(str1)

str

ii) Integer : It is a datatype which is used to store integer values. The string type in Python is called int. Ex. a = 50

In [6]:
int1 = 50
type(int1)

int

iii) Boolean : It is a datatype that have one of two values, True or False. Ex. a = True

In [7]:
bol1 = True
type(bol1)

bool

# 4.What is an expression made up of? What do all expressions do?

An expression is a made up of mathematical operators and operands.

Ex. a = 10 + 2. The expressions produces some other value.

# 5. This assignment statements, like spam = 10. What is the difference between an expression and a statement?

An expression in Python is very different from statements in Python. A statement is not evaluated for some results. A statement is used for creating variables or for displaying values.

# 6. After running the following code, what does the variable bacon contain?
bacon = 22 

bacon + 1

In [13]:
bacon = 22
bacon + 1
print(bacon)

# After running this code we get bacon an 22 because bacon + 1 statement will not effect the original value of bacon

22

# 7. What should the values of the following two terms be?
i) 'spam' + 'spamspam'

ii) 'spam' * 3

In [10]:
'spam' + 'spamspam'

'spamspamspam'

In [11]:
"spam" * 3

'spamspamspam'

# 8. Why is eggs a valid variable name while 100 is invalid?

Egg is valid variable name because it's name is consists of alphbatic character

100 is invalid name because it's name only consists of numeric character. Variable name should always starts with a alphabatic character or _.

In [7]:
egg = 10        # Valid variable name
100 = '100'     # Invalid variable name
egg_100 = 200   # Valid variable name
_100 = 300      # Valid variable name

# 9. What three functions can be used to get the integer, floating-point number, or stringversion of a value?

The three functions that can be used to get the integer, floating-point number, or string version of a value are:

str(), int(), float()

In [11]:
var1= 10
print('String : ',str(var1))
print('Integer : ',int(var1))
print('Float : ',float(var1))

String :  10
Integer :  10
Float :  10.0

# 10. Why does this expression cause an error? How can you fix it?
"I have eaten" + 99 + 'burritos'

The expression causes an error because here 99 in integer datatype value and other two are string datatype value. We can't perform concanate opreation with integer datatype.

We can fix this error by changing the datatype of 99 or by putting putting 99 in single or double quote to make it string like "99"

In [12]:
"I have eaten" + str(99) + 'burritos'

'I have eaten99burritos'

In [14]:
"I have eaten" + ' 99 ' + 'burritos'

'I have eaten 99 burritos'